.Home {
  display: flex;
  font-family: 'Montserrat';
  color: var(--Primary-Color);
  padding-block: 32px;
}

.Home img {
  width: 50%;
  display: block;
  border-radius: 12px;
}

.heroSectionText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Open sans';
}

.heroSectionText p {
  opacity: 0.7;
}

.heroSectionText a {
  align-self: center;
  padding: 16px;
  border-radius: 12px;
  border: 0;
  outline: transparent;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--Accent-Color-1);
  color: var(--Primary-Color);
}

.heroSectionText a:is(:hover, :focus) {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .Home {
    flex-direction: column;
    gap: 16px;
  }

  .Home img {
    width: 100%;
  }
}
