.Home {
  display: flex;
  font-family: 'Montserrat';
  color: var(--Primary-Color);
  padding-block: 1.33em;
}

.Home img {
  width: 50%;
  display: block;
  border-radius: 12px;
}

.heroSectionText {
  display: flex;
  flex-direction: column;
  gap: 0.67em;
  font-family: 'Open sans';
  line-height: 1.3em;
  margin-right: 0.67em;
}

.heroSectionText h2 {
  font-size: 1.5rem;
  line-height: 1.1em;
}

.heroSectionText p {
  opacity: 0.7;
}

.heroSectionText a {
  align-self: flex-start;
  margin-block: 1em;
  padding: 0.67em;
  border-radius: 12px;
  border: 0;
  outline: transparent;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--Accent-Color-1);
  color: var(--Primary-Color);
}

.heroSectionText a:is(:hover, :focus) {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .Home {
    flex-direction: column;
    gap: 0.67em;
  }

  .Home img {
    width: 100%;
  }

  .heroSectionText {
    margin-right: 0;
  }
}
