.main {
  background-color: var(--light-grey);
}

.cardsContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.33em;
  padding-block: 1.33em;
}

@media (max-width: 900px) {
  .cardsContainer {
    gap: 0.67em;
  }
}
