*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100dvh;
  min-height: 100vh;
}

.container {
  padding: 16px 32px;
}

/* ---- Header ------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

ul.nav-links img {
  width: 30px;
}

/* ---------------------*/
