@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Primary-Color: #2c3e50;
  --Secondary-Color: #ffffff;
  --Accent-Color-1: #f2c511;
  --Accent-Color-2: #e74c3c;
  --light-grey: #f5f5f5;
}

.App {
  min-height: 100dvh;
  min-height: 100vh;
  font-size: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.container {
  padding: 16px 48px;
}

/* ---- Header ------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--Primary-Color);
  color: var(--Secondary-Color);
  font-family: 'Montserrat';
}

ul.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

ul.nav-links a {
  text-decoration: none;
  color: var(--Secondary-Color);
}

ul.nav-links a:is(:hover, :focus) {
  color: var(--Accent-Color-1);
}

ul.nav-links img {
  width: 30px;
}

/* ---------------------*/

/*-----CartIcon ------*/
.cart-icon-wrapper {
  position: relative;
  background-color: var(--Secondary-Color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon-wrapper:is(:hover, :focus) {
  background-color: var(--Accent-Color-1);
}

.products-counter {
  background-color: var(--Accent-Color-2);
  color: var(--Secondary-Color);
  padding: 1px 2px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
}

/*----------------------*/

/* -----Home -----------*/
.Home {
  display: flex;
  justify-content: center;
  gap: 32px;
  font-family: 'Montserrat';
  color: var(--Primary-Color);
}

.Home img {
  width: 50%;
  display: block;
  border-radius: 12px;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Open sans';
}

.hero-section-text p {
  opacity: 0.7;
}

.hero-section-text button {
  align-self: center;
  padding: 16px;
  border-radius: 12px;
  border: 0;
  outline: transparent;
  font-size: inherit;
  cursor: pointer;
  background-color: var(--Accent-Color-1);
  color: var(--Primary-Color);
}

.hero-section-text button:is(:hover, :focus) {
  opacity: 0.8;
}

/*----------------------*/

/*------Footer----------*/
footer {
  text-align: center;
  background-color: var(--Primary-Color);
  color: var(--Secondary-Color);
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:is(:hover, :focus) {
  text-decoration: underline;
  color: var(--Accent-Color-1);
}

/*-----------------------*/

/* -------Card -----------*/

.card {
  width: 250px;
  height: 380px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: inherit;
  border-radius: 12px;
  background-color: var(--Secondary-Color);
  color: var(--Primary-Color);
}

.card img {
  width: 100%;
  height: 50%;
  display: block;
  border-radius: 12px;
}

.card h3 {
  font-size: 18px;
}

.card .text {
  margin-top: auto;
  text-align: center;
}

.card p {
  opacity: 0.7;
}

.card .quantity {
  display: flex;
  height: 10%;
  justify-content: center;
}

.card .quantity input {
  width: 40%;
  text-align: center;
  color: inherit;
}

.card .quantity button {
  height: 100%;
  width: 15%;
  padding: 5px;
}

.card button {
  margin-top: auto;
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--Accent-Color-1);
  color: var(--Primary-Color);
  border: 0;
}

.add-to-cart:is(:hover, :focus) {
  scale: 1.1;
}

/*------------------------*/

/*---------Products-----------*/
main {
  background-color: var(--light-grey);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 16px;
}

/*--------------------------*/

/*-------Contact -----------*/
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-links {
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
}
.social-links img {
  width: 50px;
  /* margin: 32px; */
}

/*-------------------------*/

/* ------NotFound ---------*/
.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------*/

/*------Cart -------------*/
.shopping-cart {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgb(180, 179, 179);
  padding: 16px 48px;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
}

.shopping-list {
  list-style: none;
  border: 2px solid black;
  padding: 8px;
  margin-block: 16px;
}

.shopping-list li {
  display: flex;
  gap: 8px;
  margin-block: 16px;
  position: relative;
  border: 2px solid black;
  padding: 8px;
}

.shopping-list img {
  width: 40%;
}

.shopping-list li span {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: red;
  cursor: pointer;
  font-size: 16px;
}

.shopping-cart .empty {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 8px;
  text-align: center;
  margin-block: 16px;
}

.shopping-cart button {
  width: 120px;
  font-size: inherit;
  margin-top: 16px;
}

/*------------------------*/
